


.footer__container {
    text-align: center;
    font-size: x-large;
    padding: 10px;
    margin: 0;
    position: absolute;
    width: 100%;
}

.filter-price__btn {
background-color: #F85555;
border-radius: 5px;
color: #fff;
display: block;
margin: 0px 0 20px auto;
padding: 7px 25px;
font-size: 1.2rem;
margin-top: -20px;
}
.order__btn{
    background-color: #F85555;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1.2rem;
    margin-top: 0px;
}
button {
    border: none;
    cursor: pointer;
}
